.DS_Store
*.bbl

*.pdf

doc/publications/incob2014/bmc_article.tex

doc/publications/incob2014/bmc_article.bib

doc/publications/incob2014/bmc_article.zip

*.aux

*.log

*.gz

doc/publications/incob2014/readme.html

*.blg

*.bak

*.out

doc/publications/incob2014/images/mahout-logo.svg

*.orig

*~

data

.project
.classpath
.settings
.cache
.cache-main
.cache-test

/target/
