#
# Requirements for development environment
#
# Development tools
Sphinx==3.3.1
sphinx-rtd-theme==0.5.0
nbsphinx==0.8.0
pylint==2.6.0
pytest==6.2.2
twine==3.2.0
# varspark dependencies
pandas==0.23.4
typedecorator==0.0.5
hail==0.2.61
